@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rosarivo:ital@0;1&display=swap');
body {
    font-family: 'Rosario';
    margin: 0;
    background-color: rgba(242, 233, 224);
}
main {
    display: grid;
    margin: 1.5em;
    height: calc(100vh - 3em);
    grid-template-rows: 10% 90%;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    height: 1.5em;
}
.header-wrapper span a {
    font-family: 'Rosarivo';
    color: black;
    text-decoration: none;
}
.desktop-nav {display: none;}
.mobile-nav {
    display: block;
    height: 0;
    overflow: hidden;
    transition: height .3s ease;
    position: absolute;
    margin-top: 3vh;
}
.mnav-wrapper {
    display: flex;
    padding: 0;
    flex-direction: column;
}
.mnav-wrapper a, .mnav-wrapper span {
    color: black;
    text-decoration: none;
    margin: 17px 0;
}
#mfilm-dd {
    display: flex;
    align-items: center;
}
#mfilm-dd img {
    width: 10px;
    margin-left: 6px;
    transform: rotate(180deg);
    transition: transform .3s;
}
.mfilm-wrapper {
    display: flex;
    margin: 0 0 2em 5px;
    height: 220px;
    transition: height .3s ease;
    overflow: hidden;
    flex-direction: column;
}
.f-links {
    color: black;
    font-style: italic;
    text-decoration: none;
    margin: 15px 0;
}
.index-content {
    display: grid;
    grid-template-rows: 30% 65%;
}
.index-wrapper p a {
    color: black;
}
.gallery-wrapper {
    max-width: 770px;
    overflow-x: hidden;
}
.gallery {
    display: flex;
    transition: transform .3s ease;
}
.gallery img {
    max-width: 100%;
}
#filmlink {
    text-decoration: none;
    font-size: .8em;
    color: black;
    margin-left: .3em;
}
#gallery-counter {
    margin-top: .5em;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.tree-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}
.tree-wrapper img {
    max-width: 300px;
    height: auto;
}
.tree-wrapper span, .tree-wrapper span a {
    color: black;
    font-size: .9em;
    font-style: italic;
}
@media screen and (min-width: 750px) {
    main {
        margin: 3em;
        grid-template-rows: 4% 96%;
        height: calc(100vh - 6em);
    }
    #hamburger {
        display: none;
    }
    #dfilm-dd {
        display: flex;
        align-items: center;
    }
    #dfilm-dd img {
        width: 10px;
        margin-left: 6px;
        transform: rotate(180deg);
        transition: transform .3s;
    }
    .index-content {
        max-width: 1300px;
        grid-template-rows: none;
        grid-template-columns: 35% 65%;
    }
    .index-wrapper {
        display: grid;
    }
    .index-wrapper p {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .tpt1 span {
        font-family: 'Rosarivo'
    }
    .desktop-nav {
        display: flex;
        width: 100%;
        align-items: flex-end;
    }
    .dnav-wrapper {
        background-color: rgba(242, 233, 224);
        display: flex;
        padding: 0;
        margin: 0;
        align-items: flex-end;
    }
    .dnav-wrapper a, .dnav-wrapper span {
        color: black;
        text-decoration: none;
        margin: 0 5em 0 0;
    }
    #dfilm-dd {cursor: pointer;}
    .dfilm-wrapper {
        display: flex;
        position: absolute;
        margin: 0 0 2em 0;
        height: 0;
        width: 200px;
        transition: height .3s ease;
        overflow: hidden;
        flex-direction: column;
    }
    .dfilm-wrapper .f-links {
        margin: 1em 0;
    }
    .tree-wrapper {
        justify-content: flex-end;
        align-items: flex-end;
    }
    .tree-wrapper img {
        max-width: none;
        max-height: 80vh;
    }
    .text-wrapper {
        margin-bottom: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 775px;
        flex-direction: row;
    }
}